@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TWSE table styles */
table.hasBorder {
  @apply border-collapse border border-gray-300 w-full;
}

table.hasBorder th,
table.hasBorder td {
  @apply border border-gray-300 p-2 text-sm;
}

table.hasBorder th {
  @apply bg-gray-100 font-medium;
}
